<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Фитнес трекер</title>
</head>
<body>
	<header>
		<h2>Счетчик подходов</h2>
		<form action="/add" method="POST">
			<label>Добавить подход?</label> <br>
			<input type="number" min=0 name="repsInput" max=1000, placeholder="Сделано повторений"/>
			<button type="submit">Подтвердить</button>
		</form>
	</header>
	<main>
		{% if reps %}
			{% for i in reps %}
				<div>
					<p>{{ i.id }}.{{ i.reps }}{{ i.date }}</p>
				</div>
			{% endfor %}
		{% else %}
			<div>
				<p>Вы еще не фиксировали подходы</p>
			</div>
		{% endif %}
	</main>
</body>
</html>