<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Простой счетчик</h1>
    <div id="counter-value">{{ count }}</div>
    <button id="incr">Увеличить</button>
<script>
    const counterValueElement = document.getElementById('counter-value');
    const incrBtn = document.getElementById('incr');

    async function incrementCounter(){
        try{
            const response = await fetch('/increment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            if (data.new_count !== undefined){
                counterValueElement.textContent = data.new_count;
                console.log('счетчик обновлен', data.new_count);
            }
        } catch (error){
            console.error('Error',error);
        }
    }
    incrBtn.addEventListener('click', incrementCounter);
</script>
</body>
</html>