<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>

<body>
    <header>
        <h1>Библиотека: Список книг</h1>
        <nav>
            <a href="/">Авторы</a> |
            <a href="/books">Книги</a>
            {% if user %}
            <a href="/profile">Мой профиль ({{ user.name }})</a>
            <a href="/logout">Выйти</a>
            {% else %}
            <a href="login">Войти</a>
            <a href="/register">Зарегистрироваться</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Личный кабинет {{ user.username }}</h1>
        <p>Прочитано {{ user.read_books|length }} книг</p>
        <ul>
            {% for book in user.read_books %}
            <li>{{ book.name }}</li>
            {% endfor %}
        </ul>
        <a href="/books">К СПИСКУ КНИГ</a>
    </main>
    <footer>
        <p>2026 Библиотека</p>
    </footer>
</body>

</html>