<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <h1>Библиотека: Список книг</h1>
        <nav>
            <a href="/">Авторы</a> |
            <a href="/books">Книги</a>
            {% if user %}
            <a href="/profile">Мой профиль ({{ user.name }})</a>
            <a href="/logout">Выйти</a>
            {% else %}
            <a href="login">Войти</a>
            <a href="/register">Зарегистрироваться</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <form method="post" action="/register">
            <input type="text" name="username" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </main>
    <footer>
        <p>2026 Библиотека</p>
    </footer>
</body>
</html>